@font-face {
  font-family: "Inter-Variable";
  src: local("Inter-Variable"),
       url("Inter-Variable.woff2") format("woff2 supports variations"),
       url("Inter-Variable.woff2") format("woff2-variations");
  font-weight: 100 700;
  font-stretch: -10 0;
  font-display: swap;
}

@font-face {
  font-family: "PressStart2P";
  src: local("PressStart2P"),
       url("PressStart2P.woff2") format("woff2");
  font-display: swap;
}