/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/
@keyframes scale-heart {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.25);
  }
}

@keyframes show-sparks {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.card__icon-button {
  background-color: transparent;
  border: none;
  padding: 0;
  inline-size: 39px;
  block-size: 36px;
}

.sparks {
  opacity: 0;
}

.card__like-button {
  inline-size: 130px;
  block-size: 38px;
}

.card__icon-button:focus-visible {
  border: none;
  outline: 2px solid var(--contour-color);
}

.like-icon .core {
  fill: none;
  transition: fill 0.3s 0.03s;
}

.like-icon:hover .core {
  fill: var(--contour-color);
  transition: fill 0.3s;
}

.like-icon .main-body {
  fill: none;
  transition: fill 0.3s;
}

.like-icon:hover .main-body {
  fill: var(--contour-color);
  transition: fill 0.3s 0.05s;
}


.like-icon:active .core {
  fill: var(--animation-fill-color);
  transition: fill 0.3s;
}

.like-icon:active .main-body {
  fill: var(--animation-fill-color);
  transition: fill 0.3s 0.05s;
}


.like-icon.is-liked .core {
  fill: var(--animation-fill-color);
  transition: fill 0.3s;
}

.like-icon.is-liked .main-body {
  fill: var(--animation-fill-color);
  transition: fill 0.3s 0.05s;
}

.like-icon.is-liked .contour {
  fill: var(--animation-fill-color);
  transition: fill 0.3s 0.06s;
}

.like-icon:not(.is-liked) .contour {
  fill: var(--contour-color);
  transition: fill 0.1s linear;
}

.like-icon.is-liked .heart {
  animation: scale-heart 0.3s 0.1s ease-in 1;
  transform-origin: center;
}

.like-icon.is-liked .sparks {
  animation: show-sparks 0.3s 0.3s ease-in 1;
}

.like-icon:not(.is-liked) .heart {
  animation: none;
  transform: scale(1);
}

.like-icon:not(.is-liked) .sparks {
  animation: none;
  opacity: 0;
}

