/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  background-image: var(--main-background);
  background-image: var(--gradients-overlay);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: var(--main-font), sans-serif;
  font-variation-settings: "wght" var(--main-font-weight);
  font-size: var(--main-font-size);
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  inline-size: 100vw;
  block-size: 100vh;
}

.header-card {
  inline-size: clamp(375px, 100%, 700px);
  block-size: clamp(327px, 100%, 368px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--accent-color);
  background-color: #fff;
}

.title {
  font-family: var(--accent-font), sans-serif;
  font-weight: var(--accent-font-weight);
  margin-block-end: 20px; 
  font-size: clamp(3.0625rem, 2.7699rem + 1.4363vw, 4.0625rem);;
}

.header-description {
  font-family: var(--accent-font);
  font-weight: var(--accent-font-weight);
  font-size: clamp(0.875rem, 0.7104rem + 0.8079vw, 1.4375rem);
  text-transform: uppercase;
}

main {
  display: flex;
  justify-content: center;
}

.cards-list {
  list-style: none;
  inline-size: clamp(375px, 100%, 700px);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.card {
  display: grid;
  grid-template-rows: auto-fit auto-fit auto-fit;
  inline-size: clamp(371px, 100%, 696px);
  border: 2px solid var(--accent-color);
  background-color: #fff;
}

.card-image {
  grid-row: 2;
  position: relative;
  border-block: 2px solid var(--accent-color);
}

.card-image-main {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
}

.filter-1 {
  filter: grayscale(50%);
}

.filter-2 {
  filter: saturate(400%);
}

.filter-3 {
  filter: hue-rotate(20deg);
}

.filter-4 {
  filter: invert(100%) contrast(50%);
}

.filter-5 {
  filter: sepia(70%);
}

.filter-6 {
  filter: blur(10px);
}

.filter-7 {
  filter: hue-rotate(90deg) contrast(50%) blur(1px);
}

.card-title {
  grid-row: 1;
  padding: 3.5px 10px;
  font-size: var(--main-font-size);
}

.card-image-label {
  position: absolute;
  top: 25px;
  right: 11px;
  font-family: var(--accent-font);
  font-size: var(--small-font-size);
  mix-blend-mode: hard-light;
  text-shadow: 0 0 2px var(--text-stroke-color);
}

@supports (text-stroke: 2px var(--text-stroke-color)) {
  .card-image-label {
    -webkit-text-stroke: 2px var(--text-stroke-color);
    text-stroke: 2px var(--text-stroke-color);
  }
}

.card-description {
  grid-row: 3;
  display: grid;
  gap: 25px;
  padding: 25px;
}

.card-description-main {
  grid-row: 1;
}

.card-description-memories {
  grid-row: 2;
}

.card-like {
  grid-row: 3;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 12px;
}

.card__like-button, .button-accept, .button-save {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--text-stroke-color);
  font-family: var(--accent-font), sans-serif;
  font-size: var(--small-font-size);
  font-weight: var(--main-font-weight);
  cursor: pointer;
  overflow: hidden;
  position: relative;
}

button:focus {
  outline: none;
  box-shadow: 2px 2px 0 var(--accent-color);
  transition: border-box 0.3s ease;
}

button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out;
  z-index: 1;
}

button:hover::before {
  transform: translateX(0);
}

.button__text {
  position: relative;
  z-index: 2;
  color: #fff;
  mix-blend-mode: difference;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  inline-size: 100vw;
  min-height: clamp(208px, 100%, 236px);
}

.button-save {
  inline-size: clamp(306px, 100%, 335px);
  block-size: 84px;
  justify-self: center;
  align-self: center;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.button-save svg {
  position: relative;
  z-index: 2;
  mix-blend-mode: difference;
  filter: invert(1);
}

dialog[open] {
  display: grid;
  grid-template-rows: 2fr 1fr;
  gap: 30px;
  inline-size: 341px;
  block-size: 191px;
  padding: 30px 40px;
}

dialog::backdrop {
  background-color: rgb(0 0 0 / 0.7);
}

.dialog-text {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  gap: 12px;
}

.dialog-title {
  font-family: var(--accent-font), serif;
  font-size: var(--small-font-size);
  font-weight: var(--main-font-weight);
  text-transform: uppercase;
  line-height: 150%;
}

.button-accept {
  inline-size: 100%;
  block-size: 100%;
}

@media (width > 375px) {
  .button-save {
    flex-direction: row;
    block-size: 55px;
  }
}