/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --main-font: "Inter-Variable";
  --accent-font: "PressStart2P";
  --main-font-weight: normal;
  --accent-font-weight: bold;
  --small-font-size: 14px;
  --main-font-size: 18px;

  --contour-color: #000;
  --animation-fill-color: #f00;
  --accent-color: #000;
  --text-stroke-color: #fff;
  --main-background: url(../images/background.png);
  --gradients-overlay: 
        linear-gradient(
            to bottom,
            rgba(231, 231, 231, 0.3) 0.01%,
            rgba(231, 231, 231, 0.2) 15%,
            rgba(26, 26, 26, 0.8) 100%
        ),
        
        repeating-linear-gradient(
            90deg,
            transparent 0px,
            transparent 2px,
            rgba(211, 211, 211, 0.2) 2px,
            rgba(211, 211, 211, 0.2) 4px
        ),
        
        repeating-linear-gradient(
            0deg,
            transparent 0px,
            transparent 2px,
            rgba(211, 211, 211, 0.2) 2px,
            rgba(211, 211, 211, 0.2) 4px
        );
    
}
